* {
    margin: 0;
    padding: 0;
}

body h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45pt;
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
    color: #1af71a;
}

body span {
    text-align: center;
}
